// Nav animation 1

@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.5s
) {
  box-shadow: inset 0 0 0 $width transparent;
  color: $color;
  transition: color $duration $duration/5;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: #3f3d56;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

@include btn-border-drawing(
  $primaryColorBlue,
  $primaryColorBlue,
  3px,
  bottom,
  right
);

// tooltip
@mixin tool-tip() {
  &::before {
    position: absolute;
    top: -0.25rem;
    left: 30%;
    transform: translateX(-50%) translateY(-100%) scale(0);
    transition: 150ms transform;
    transform-origin: bottom center;
    z-index: 3;
    content: attr(data-tooltip);
    color: whitesmoke;
    padding: 0.5rem;
    height: 30px;
    border-radius: 0.3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background-color: $primaryColorBlack;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
  }
  &:hover::before {
    transform: translateX(-50%) translateY(-100%) scale(1);
  }
}

// @include tool-tip();
